* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
}

html {
    overflow: hidden;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, var(--gradient-dark, #002405) 40%, var(--gradient-primary, #003c08) 100%);
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: var(--gradient-dark, #212529);
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
    background: rgbaa(255, 255, 255, 0.6);
    // border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
}

iframe {
    max-height: 38rem;
    width: 100%;
    height: calc((var(--vh, 1vh) * 100) - 6rem);
    border-radius: 0.5rem;
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: calc((var(--vh, 1vh) * 100));
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);

    .modal-content {
        background-color: #212529;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 38rem;
        height: calc((var(--vh, 1vh) * 100) - 4rem);
        max-height: 38rem;
        border-radius: 0.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #closeModal {
        position: absolute;
        right: -1.5rem;
        top: 0.5rem;
        background-color: #212529;
    }
}


#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

details {
    summary {
        &::marker {
            color: rgba(255, 255, 255, 0.2);
        }
    }
}


@keyframes ring {
    0% {
          -webkit-transform: translateX(3px) rotate(2deg);
          -ms-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
      }
    
    20% {
          -webkit-transform: translateX(3px) rotate(2deg);
          -ms-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
      }
    
    30% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          -ms-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
    }
    
    35% {
          -webkit-transform: translateX(3px) rotate(2deg);
          -ms-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
      }
    
    40% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          -ms-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
    }
    
    
    45% {
          -webkit-transform: translateX(3px) rotate(2deg);
          -ms-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
      }
    
    50% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          -ms-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
    }
    
    
    55% {
          -webkit-transform: translateX(3px) rotate(2deg);
          -ms-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
      }
    
    60% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          -ms-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
    }
    
    
    65% {
          -webkit-transform: translateX(3px) rotate(2deg);
          -ms-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
      }
    
    70% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          -ms-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
    }
    
    75% {
          -webkit-transform: translateX(3px) rotate(2deg);
          -ms-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
      }
    
    40% {
          -webkit-transform: translateX(-3px) rotate(-2deg);
          -ms-transform: translateX(-3px) rotate(-2deg);
          transform: translateX(-3px) rotate(-2deg);
    }
  
    80% {
          -webkit-transform: translateX(3px) rotate(2deg);
          -ms-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
      }
    
    100% {
          -webkit-transform: translateX(3px) rotate(2deg);
          -ms-transform: translateX(3px) rotate(2deg);
          transform: translateX(3px) rotate(2deg);
      }
  }
  
  .ring {
      display: inline-block;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-animation-name: ring;
      animation-name: ring;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
  }

  #animation-telephone-icon path, circle {
    fill: #003c08
  }
    
  g.hangup {
   
    width: 100px;
  }
    
    g.circles {
      fill: #003c08 !important;
      
    }

    .cable {
        fill: #003c08;
      }



.breadcrumb {
    background-color: transparent;
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 1rem 0 0.5rem;
    display: -webkit-inline-box;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: transparent;
        // border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        svg {
            fill: #fff;
            width: 1rem;
            height: 1rem;
        }
    }

    div+div::before {
        content: "\003E";
        color: rgba(255, 255, 255, 0.35);
        padding: 0.5rem;
        font-size: 0.75rem;
        font-weight: bold;
    }
}

a {
    margin-right: 0.5rem;

    &:last-child {
        margin-right: 0;
    }
}

.active {
    color: rgba(255, 255, 255, 0.5);
    cursor: text;
    user-select: initial;
}

.left-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 16rem;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0;
    left: 0;
    right: initial;
    background-color: #212529;
    z-index: 2;
    display: none;

    ul {
        li {
            margin: 1rem 0 1rem 1rem;

            &::marker {
                color: rgba(255, 255, 255, 0.2);
            }
        }

        ul {
            margin-left: 1rem;
        }

        a {
            margin-bottom: 0;
        }
    }

    &.active {
        display: flex;
    }

    #closeBtn {
        position: absolute;
        right: 0;
        top: 1rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2rem;
        overflow-y: auto;
        overflow-x: hidden;

        a {
            padding: 1rem 0 2rem;
            height: 2.5rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);

            &.active {
                color: var(--primary, #3ab54a);
                font-weight: bold;
            }

            &:hover:not(.active) {
                color: #b1b1b1;
            }
        }
    }
}

header {
    display: flex;
    align-items: center;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 4rem;
        padding: 0 4rem;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            li {
                list-style: none;
            }
        }

        .links {
            display: flex;
            align-items: center;

            a {
                &.cta {
                    background-color: rgba(255, 255, 255, 0.2);
                    color: #fff;
                    height: 2.5rem;
                    padding: 0 1rem;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;
                    font-weight: 500;
                    border-radius: 4px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

                    &:hover {
                        color: #fff;
                        background-color: var(--primary-hover, #158123);
                    }
                }

                &:hover {
                    color: var(--primary-hover, #158123);
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    svg {
        fill: #ffc107;
    }

    .derege {
        margin-left: 0.5rem;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 2px 6px;
        font-weight: bold;
        border-radius: 4px;
        font-size: 0.75rem;
    }
}

#telBtn {
    height: 6rem;
    margin: 0 1rem;
}

main {
    height: calc(100vh - 4rem);
    height: calc((var(--vh, 1vh) * 100) - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.3s;

    .h1-title {
        position: relative;
        display: flex;
        justify-content: center;

        a {
            margin-right: 0;
        }
    }

    ul {
        list-style: none;
    }

    h1 {
        font-size: 3rem;
        text-align: left;
        font-weight: bold;
        line-height: 1.25;
        transition: all 0.3s;
    }

    p {
        margin-top: 1rem;
        color: rgba(255, 255, 255, 0.7);
        transition: all 0.3s;
    }

    .buttons {
        display: flex;
        align-items: center;

        a,
        button {
            background-color: #3ab54a;
            border: 1px solid #3ab54a;
            color: #fff;
            text-decoration: none;
            font-size: 22px;
            font-weight: 500;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 1rem;
            border-radius: 4px;

            span {
                text-shadow: 0 0 2px #000;
            }

            .phone {
                display: flex;
                align-items: center;

                &::before {
                    content: "|";
                    font-size: 1rem;
                    margin-left: 4px;
                    margin-right: 12px;
                }
            }

            .text {
                width: 13.5rem;
                text-align: right;
                font-size: 16px;
                text-shadow: 0 0 2px #000;
            }

            div.flex {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            svg {
                margin-right: 1rem;
                filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.25));
            }

            &:hover {
                background-color: #158123;
                border-color: #158123;
                color: #fff;
            }
        }
    }
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-evenly {
    justify-content: space-evenly !important;
}

.position-relative {
    position: relative !important;
}

.d-flex {
    display: flex !important;
}

.btn-success {
    color: #fff;
    background-color: #3ab54a;
    border-color: #3ab54a;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}

.text-white {
    color: #fff !important;
}

.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.h-100 {
    height: 100% !important;
}

.border-start {
    border-left: 1px solid #dee2e6 !important;
}

.font-size-22 {
    font-size: 22px;
}

.line-height-90 {
    line-height: 90%;
}

.align-items-end {
    align-items: flex-end !important;
}

.flex-column {
    flex-direction: column !important;
}

.letter-spacing {
    letter-spacing: -1.2px;
}

.text-shadow {
    text-shadow: 0 0 2px black;
}

.text-nowrap {
    white-space: nowrap !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-light {
    font-weight: 300 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.d-block {
    display: block !important;
}

.h6,
h6 {
    font-size: 1rem;
    line-height: 1.2;
}

.ps-2 {
    padding-left: 0.5rem !important;
}

.border-start.h-100.mx-2.mx-sm-3 {
    &::before {
        content: "";
        display: block;
        width: 2px;
        background-color: rgba(255, 255, 255, 0.2);
        margin-right: 2.5rem;
        margin-left: 1.5rem;
        margin: 1rem 2.5rem 1rem 1.5rem;
        height: 4rem;
    }
}

.menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

.icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;

    .icons-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 4rem;
        width: 4rem;
        margin: 0 0.25rem 0.75rem 0;

        svg {
            fill: #3ab54a;
            height: 2rem;
            width: auto;
        }

        .icon-text {
            text-align: center;
            font-size: 0.75rem;
            font-weight: bold;
        }
    }
}

button,
a {
    background: initial;
    border: 0;
    color: #fff;
    margin-right: 2rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s;
    user-select: none;
    cursor: pointer;

    svg {
        path {
            stroke: #fff;
        }

        &.dark {
            path {
                stroke: #000;
            }
        }
    }
}

.location {
    background-color: #ffc107;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    font-size: 0.625rem;
    color: #000;
    border-radius: 4px;
    margin: 1rem 1rem 0;
    position: absolute;
    top: -3rem;
    right: 0;
    text-shadow: none;
    width: max-content;

    svg {
        height: 1rem;
        fill: #000;
        width: auto;
        margin-right: 0.5rem;
    }
}

@media all and (max-width: 480px) {
    header {
        nav {
            padding: 0 1rem;
        }
    }

    main {
        width: initial;
        margin: 0 0.5rem;

        .breadcrumb {
            margin-top: -0.25rem;

            .breadcrumb-text {
                a {
                    font-size: 0.875rem;
                }
            }
        }

        .star {
            margin-top: -0.25rem;
        }

        h1 {
            font-size: 1.75rem;
            text-align: center;
            padding: 0 0.5rem;
        }

        p {
            padding: 0 0.5rem;
            font-size: 13px;
            text-align: center;
        }

        .buttons {
            display: flex;
            width: 100%;

            a,
            button {
                position: absolute !important;
                bottom: 0.25rem !important;
                width: calc(100% - (1.5rem * 2)) !important;
                justify-content: center !important;
            }
        }

        .icons {
            margin-top: 1rem;
        }

        .border-start.h-100.mx-2.mx-sm-3 {
            &::before {
                margin: 1rem 0.5rem;
            }
        }

    }
}

@media all and (max-width: 320px) {
    main {
        .buttons {

            a,
            button {
                span.text {
                    display: none;
                }
            }
        }
    }

    .icons-item {
        width: 5rem !important;

        .icon-text {
            font-size: 11px;
        }
    }

    .h1-title {
        margin-top: -3rem;
    }

}

@media all and (min-width: 321px) {
    .icons-item {
        width: 6rem !important;
    }

    .h1-title {
        margin-top: -4rem;
    }
}

@media all and (min-width: 400px) {
    .icons-item {
        width: 7rem !important;
    }
}

@media all and (min-width: 440px) {
    .icons-item {
        width: 8rem !important;
    }
}

@media all and (max-height: 580px) {
    #telBtn {
        height: 4rem;

        .border-start.h-100.mx-2.mx-sm-3 {
            &::before {
                height: 2rem;
            }
        }
    }
}

@media all and (min-width: 481px) {
    header {
        nav {
            padding: 0 1rem;
        }
    }

    .breadcrumb {
        margin-top: -0.25rem;

        .breadcrumb-text {
            a {
                font-size: 0.875rem;
            }
        }
    }

    .star {
        margin-top: -0.25rem;
        justify-content: flex-start;
    }

    main {
        width: initial;
        margin: 0 0.5rem;

        h1 {
            font-size: 2rem;
            text-align: center;
            padding: 0 1rem;
        }

        .star {
            justify-content: center;
        }

        p {
            padding: 0 0.5rem;
            font-size: 0.875rem;
            text-align: center;
        }

        .buttons {
            display: flex;
            width: 100%;

            a,
            button {
                position: absolute !important;
                bottom: 0.5rem !important;
                width: calc(100% - (1.5rem * 2)) !important;
                justify-content: center !important;
            }
        }

        .icons {
            margin-top: 2rem;
        }
    }
}

@media all and (min-width: 540px) {
    header {
        nav {
            padding: 0 1rem;
        }
    }

    div {
        margin-right: 4px;

        &:last-child {
            margin-right: 0;
        }
    }

    main {
        width: initial;
        margin: 0 1.5rem;

        .breadcrumb {
            margin-top: 0;
        }
    
        .star {
            margin-top: 0;
        }

        h1 {
            font-size: 2rem;
            padding: 0 0.5rem;
        }

        p {
            padding: 0 0.5rem;
        }

        .buttons {
            display: flex;
            width: 100%;

            a,
            button {
                position: absolute !important;
                bottom: 0.5rem !important;
                width: calc(100% - (2.5rem * 2)) !important;
                justify-content: center !important;
            }
        }
    }
}

@media all and (min-width: 768px) {
    header {
        nav {
            padding: 0 4rem;
        }
    }

    main {
        align-items: center;
        justify-content: center;
    }

    #telBtn {
        svg {
            margin-left: 0 !important;
        }

        .border-start.h-100.mx-2.mx-sm-3 {
            &::before {
                margin: 1rem 0.5rem;
            }
        }

        .d-block.text-shadow.h6.mb-0.fw-light {
            .ps-2 {
                margin-right: 3rem !important;
            }
        }
    }

    main {
        .breadcrumb-text {
            a {
                font-size: 1rem;
            }
        }

        h1 {
            font-size: 3rem;
            text-align: center;
            padding: 0;
            margin-top: 0;
        }

        .star {
            justify-content: center;
        }

        p {
            text-align: center;
            padding: 0;
            font-size: 1rem;
        }

        .buttons {
            display: flex;
            width: initial;
            justify-content: center;

            a,
            button {
                position: relative !important;
                bottom: initial !important;
                width: auto !important;
                justify-content: initial !important;
            }
        }

        .icons,
        .icons-item {
            justify-content: center !important;
        }

        .icons {
            margin-top: 2rem;
            justify-content: flex-start;
        }

        .icons-item {
            margin: 0 2.5rem 2.5rem 0 !important;
            width: initial !important;
            height: initial !important;
        }
    }
}